language: python
python:
- '2.7'
script:
- python setup.py test
deploy:
  provider: pypi
  user: jkawamoto
  password:
    secure: W59wDfh6cgKKCxfUdsRSDg/rAcNel4IxLqHRhzFREuSek1aKpIBsanwJMtPcKGV6xBzN8QrQng/gptkbc/eFBeziMILl83siZf2uk4QgoRRmc8xliOK+ZthK8xBop4LQYg6vxeJcRAubWqZZS+Mk4v7D2remIC/r37kdt2LSudyuLPpvkdN2Wo0NCF4cdZOHJ6nES1XlzrbwOTLhiiK4eYPvik1dlzDh4VMSlTaWVhSI8EzdmSjatST5chmXhfY7bVEhzzirgCWvgyQ1MrngpuHBM8EIKhi1fQyZS3BcNcKgB4oDKA1ulhHVjhlf+s78YDz1BuxeFjkJlM470kAdSpYWCtiNpiUUYRDfe4SIok/agJN7Kn2vsCou0uVZ2IbdmgczhBQpgLmATT4YQoCR8crnPpDm6ngE/OHD1AfC77xzNH+gESc/IDABT91V9Y0uxAPbTktBfjEFf6kh3JwnLVV5ZblFTVY0Arra6LWST2wDdFnUncvhsN9Y351RvbKCXTHgf0w7ZImk/liNq9ZwyPQginLhPfpS1B3fydSjHq0+Peg8bwZIOXxNoNiL2RxU/6SaA4C2Ip21Noo2+rlvHvDr0Zme+BsNqM6L0EzO4VXwHZuONPxW09BULTUv22PnhH+EIxlLT8yI858m96iZ8AUTWB5umv/FzNESME1nEAs=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: rgmining/rsd
